* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f0f7f4;
    display: flex;
    justify-content: center;
    align-self: center;
    height: 70vh;
    margin: 20px auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    background: white;
    padding: 2rem;
    margin-top: 100px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
    width: 500px;
}


h1 {
    color: #4db6ac;
    text-align: center;
    margin-bottom: 1.5rem;
}

.input-group {
    display: flex;
    gap: 10px;
    margin-bottom: 1rem;
    border-bottom: 1px solid #badbda;
    padding-bottom: 20px;
}

input {
    flex: 1;
    padding: 20px;
    border: 2px dashed #e0f2f1;
    border-radius: 20px;
    outline: none;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #80cbc4;
}

#add-btn { 
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;

    background-color: #80cbc4;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    
    transition: background 0.3s;
}

#add-btn:hover {
    background-color: #4db6ac;
}

ul {
    list-style: none;
}

li {
    background: #f9fdfc;
    margin-bottom: 8px;
    padding: 12px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 5px solid #b2dfdb;
    animation: fadeIn 0.3s ease;
    cursor: pointer;
}

.todo-content {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
}

.checkbox {
    font-size: 1.2rem;
    color: #80cbc4;
    user-select: none;   
}

/* js로 리스트 추가 후 완료 표시 생성한 경우 */

li.completed {
    color: #aaa;
    border-left-color: #e0e0e0;
    background: #f1f1f1;
}

li.completed .text {
    text-decoration: line-through;
}
li.completed .checkbox {
    color: #ccc;
}

.delete-btn {
    font-size: 1.3rem;
    font-weight: bold;
    border: none;
    background: none;
    color: rgb(228, 153, 153);
    cursor: pointer;
    transition: color 0.3s;
    text-decoration: none !important;
}

.delete-btn:hover {
    color: red;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px);}
    to { opacity: 1; transform: translateY(0);}
}

.todo-stats {
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid #badbda;
    font-size: 0.8rem;
    color: #666;
    font-weight: 500;
}

#todo-count {
    color: #4db6ac;
    margin-right: 2px;
}

/* 왼쪽 정렬을 위한 컨테이너 스타일 */
.todo-left {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
}

/* 별표 스타일 */
.star {
    margin-right: 5px;
    font-size: 1.2rem;
    color: #ffd700; /* 금색 */
    cursor: pointer;
    user-select: none;
    transition: transform 0.2s;
}

.star:hover {
    transform: scale(1.2);
}

li.important {
    border-left: 5px solid #ffd700;   
}

li.completed .star {
    color: #ccc;
}
